.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.download-btn {
    padding: 10px 20px;
    background: #facc15;
    color: #1e293b;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.download-btn:hover {
    background: #eab308;
}
